
body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main,footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

footer {
    background-color: rgb(41, 128, 168);
    color: #fff;
    text-align: center;
}

header {
    padding: 1.5rem;
    background-color: rgb(41, 128, 168);
    color: #fff;
    /*font-family: 'Merriweather', 'serif'; */
    
}

img {
    float: right;
    margin: 10px;
    margin-top: -4em;
    border: 1px solid #000;

}
a:link, a:visited {
    color: #840032;