@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import "/css/normalize.css";
html {
    background-color: #28A7D6;
  }
  header, nav, main,footer {
    margin: 1.25rem auto;
    max-width: 760px;
  }
  h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0.15rem;
  }
  body {
    max-width: 940px;
    margin: 0 auto;
    padding:1em;
    background-color: white;
    border-radius: 3em;
    
  }
  .img {
    max-width: 100%;
  }
  h2 {
    font-family: 'Lora','sans-serif';
    color: #890000;
    border-top: 5px double;
    border-bottom: 5px double;
  }
h3, h4, h5, h6 {
    font-family: 'Lora', 'Ariel', 'sans-serif';
    color: #890000;
  }
footer {
    padding:0.5rem;
    background-color: #F7C01D;
    color: #1f3551;
    text-align: center;
    border-radius: 3em; 
    clear: both;
    font-size: 1.2em;
}

header {
    font-family: 'Baloo', 'Helvetica', 'sans-serif';
    padding: 1.5rem;
    background-color: #F7C01D;
    color: #0056BF;
    border-radius: 3em;
    font-size: 1.3em;
    text-align:center;
    
}
p {
    font-family: 'Baloo', 'Helvetica', 'sans-serif';
    color: black;
    padding: 1em;
  }
  main li {
    font-family: 'Baloo', 'Helvetica', 'sans-serif';
    color: black;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: rgb(240, 230, 176);
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: #28A7D6;
  }
  .secondary {
    background-color: #F7C01D;
  }
  .accent1 {
    background-color: #890000;
  }
  .accent2{
    background-color: #0056BF;
  }
  .accent3 {
    background-color: #1f3551;
  }


  nav {
    background-color:#F7C01D;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 3em;
    
  }
  nav > ul {
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
  }
  nav a {
    padding:1em;
    min-width: 70px;
  }
  nav a:link, nav a:visited {
    color: #1f3551;
  }
  nav a:hover {
    color: #0056BF;
    background-color: #E7C24F;
  
  }

 .littlelogo {
   max-width: 10vw;

 }

  /*phone view*/
.title-header {
  font-size: 0.8em;
  padding: 1em;
  margin: .5em 0 .5em 0;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  max-width: 775px;
  margin: 1.3em auto 1.3em auto;
  padding: 1.2em;
  border-radius: 1em;
}
main section {
margin:0.25rem;
border-radius: 1rem;
padding: 0 1rem;
}
main {
max-width: 760px;
grid-template-columns: 1fr;
font-size: 1rem;
}
