/*64rem is also 1028px when basefont is 16px. So it can be:
@media only screen and (min-width: px)
*/
/* Desktop Views ****************************/
@media only screen and (min-width: 1024px) {

	.boites {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	header {
		display: flex;
	}

	.littlelogo {
		float: none;
	}

	nav>ul {
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
	}

	nav ul li a:hover {
		background-color: #E7C24F;
	}

	nav ul li.active {
		background-color: #E7C24F;
	}

	nav button {
		display: none;
	}

	nav ul li a {
		border: none;
		border-right: 1px solid rgba (0, 0, 0, 0.3);
		padding: 0.6rem 1rem;
	}

	nav ul {
		margin-left: 2%;
	}

	nav ul.hide {
		display: block;
	}
	
}